h2 {
    text-decoration: line-through;
}

h3 {
    text-decoration: underline;
}

h4 {
    letter-spacing: -1px;
    color: coral;
}

p {
    color: darkseagreen;
}

em {
    letter-spacing: 0.5cm;
    text-decoration: overline;
    color: salmon;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

p.duacm {
    word-spacing: 2cm;
}

p.limapx {
    word-spacing: 5px;
}

body {
    background-image: url(Media/papyrus-dark.png);
}

p,h4,em,h2,h3,a {
    text-indent: 2cm;
    background-color: bisque;
    font-family: Poppins;
}