#atas {
    background-image: url(Media/background.gif);
    background-size: cover;
    height: 268px;
    width: 900px;
    position: relative;
    display: block;
    margin-top: -10;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-family: Poppins;
    padding-top: 40px;
    font-size: 40pt;
    text-shadow: -5px -5px 5px lavender;
    color: rosybrown;
}

img#p_photo {
    margin-top: 10px;
    margin-left: 200px;
    float: left;
    clear: both;
    position: relative;
    border-radius: 5%;
    color: dodgerblue;
    border-style: dotted;
}

#profil {
    width: 400px;
    height: 500px;
    margin-top: 10px;
    margin-left: 480px;
    margin-right: 200px;
    padding-left: 12px;
    display: block;
    font-family: Poppins;
    background-color: thistle;
    opacity: 0.7;
}

body {
    background-image: url(Media/papyrus-dark.png);
}