td {
    color: orange;
}

form {
    border: 2px solid yellow;
    width: 60%;
    margin-left: 0;
    background-color: green;
    color: pink;
    font-family: Poppins;
}

textarea {
    color: salmon;
    background-color: thistle;
    font-family: Poppins;
}

input {
    color: red;
    background: palegreen;
    border-color: green;
    border-bottom-color: black;
    border-top: 0px solid;
    border-bottom: 2px dotted;
    border-left: 0px solid;
    border-right: 0px solid;
    font-family: Poppins;
    font-size: 11px;
}

body {
    background-color: salmon;
}