@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

/* Nav */
nav {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    user-select: none;
    box-shadow: 0px 0px 1px black;
    position: fixed;
    top: 0;
    z-index: 100;
}

nav a {
    color: black;
    text-decoration: none;
}

.logo {
    color: #d6d6d6;
    font-size: 2rem;
    margin-left: 20px;
    transition: .2s ease-in-out;
}

.logo:hover {
    color: #000;
}

.nav-links {
    display: flex;
    gap: 25px;
    margin-right: 20px;
}

.nav-link {
    font-size: .95rem;
    position: relative;
    transition: .15s ease-in-out;
}

.nav-link:hover {
    color: #d6d6d6;
}

/* Header */
section {
    padding: 10px 20px;
}
.header {
    margin-top: 70px;
    display: flex;
    padding: 15px 20px;
    align-items: center;
}

.header h1 {
    font-size: 2rem;
    font-weight: normal;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

/* About Us */
#about-us {
    width: 100%;
    display: flex;
    gap: 10px;
    background: url(https://images.unsplash.com/photo-1524046960467-39d55b270f83?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#about-us p {
    height: fit-content;
    padding: 20px;
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 5px;
    cursor: default;
    transition: .2s;
}

#about-us p:hover {
    background-color: rgba(255, 255, 255, .9);
    transform: translateY(-3%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.about-left {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 200px;
    margin-top: 140px;
}

/* Gallery */
#gallery {
    display: grid;
    justify-content: space-between;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fill, 320px);
    margin-bottom: 40px;
}

.gallery-card {
    max-width: 320px;
    height: 200px;
    border-radius: 5px;
    background-color: #ddd;
    transition: .2s;
    overflow: hidden;
}

.gallery-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
    filter: brightness(60%);
}

.gallery-card:hover > img{
    transform: scale(120%);
    filter: none;
}

/* Footer */
.footer {
    background-color: #ddd;
}

.footer h1 {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: underline;
}

.footer a {
    color: #000;
}

.footer-address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    margin-bottom: 10px;
}

.footer-link {
    display: flex;
    gap: 20px;
    background-color: #ddd;
    margin-bottom: 10px;
}

.footer-link i {
    font-size: 1.2rem;
}

.footer-link i:hover {
    color: #383838;
}

.footer hr {
    margin-left: 0;
    margin-right: 0;
}

.footer p {
    color: rgba(0, 0, 0, .7);
    font-size: .8rem;
    margin-top: 10px;
}

.address {
    text-align: center;
}

/* Responsive */
.mobile-nav-btn {
    font-size: 1.4rem;
    position: absolute;
    right: 20px;
    opacity: 0;
    z-index: -1;
}

.mobile-nav-links {
    width: 50vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    box-shadow: 0px 0px 2px black;
    transition: .5s;
    transform: translateX(-100%);
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

.nav-btn-active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
}

.mobile-nav-links .nav-link{
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #000;
    font-size: 1.15rem;
}

.mobile-nav-links hr{
    width: 90%;
}

@media (0px <= width <= 768px) {
    .nav-links {
        display: none;
    }
    .mobile-nav-btn {
        opacity: 1;
    }

    #about-us {
        flex-wrap: wrap;
        gap: 0px;
    }

    .about-left {
        gap: 100px;
    }

    .about-right {
        gap: 100px;
    }

    .footer-address {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}